<!-- <div class="container-fluid"> -->
<div id="form">
		<form id="form1" action="/submit" method="post">
			<input type="text" placeholder="Paste a link here to shorten it!" name="long_url" required>
			<button class="btn btn-lg outline" type="submit">Submit</button>
		</form>
</div>

<!-- </div> -->
