<html>
<!-- CSS STUFF -->
<link rel="stylesheet" href="/css/application.css">
<link href="https://fonts.googleapis.com/css?family=Alegreya+Sans|NTR|Raleway" rel="stylesheet"> 
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
<script src="https://use.fontawesome.com/5760e317e8.js"></script>
<!-- JQUERY STUFF -->
<!-- <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
<script src="/js/application.js"></script>

<head>
	<link rel="icon" type="image/png" href="//dl6fh5ptkejqa.cloudfront.net/0482a3c938673192a591f2845b9eb275.png">
	<title>Bitlydia</title> 
</head>

<body>
	<a href="http://bitlydia.herokuapp.com/">
		<img class="displayed click" src="http://galvanize-wp.s3.amazonaws.com/wp-content/uploads/2015/03/30210650/Bit.ly_Logo.png" alt="Bitly logo (the real Bitly)!">
	</a>
	<div id="content" class="container">	
		<h1 id="page-title">SHORTEN. SHARE. MEASURE.</h1>
		<h3 id="intro">Bitlydia, the world's second leading link management platform.</h3>
		<h6 id="intro">(after Bitly, but not for long.)</h6>
		<%= yield %>
		<div id="urls">
			<div id="input-url"></div>
			<div class="shortened-url"></div>
		</div>
		<div class="error-message"></div>
	</div>	
</body>
<footer class="navbar navbar-inverse navbar-fixed-bottom" style="background-color:white; border:none; text-align: center; bottom: 10px;">
	<a id="personalButton" href="https://github.com/lydiacheah" target="_blank"><i class="fa fa-github"></i></a>
	<a id="personalButton" href="https://www.facebook.com/notlydia" target="_blank"><i class="fa fa-facebook"></i></a>
	<a id="personalButton" href="http://twitter.com/lydiacheah" target="_blank"><i class="fa fa-twitter"></i></a>
</footer>
</html>